:root {
  .spanstyle {
    position: absolute;
    visibility: visible;
    z-index:2}
    
body { background: #f0fff0}

.menu
{
 position: absolute;
 top:0;
 left:0;
 bottom:0;
 right:70%;
 padding : 10px;
 background: #f0ffd0
}
.banniere
{
 position: absolute;
 top:0;
 left:30%;
 right:0;
 bottom:70%
}
.commentaires
{
 position: absolute;
 top:150px;
 left:30%;
 right:0;
 bottom:0;
 background: url("/Main1.gif") fixed bottom right no-repeat #f0fff0;
 padding : 15px;
}
.titre
{color: #880088; font-size : 32px; font-weight: bold ;  font-weight: bold;text-align:center}
}
